name: Releaser

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  npm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Pantry
        uses: home-lang/pantry-setup@v1

      - name: Install Dependencies
        run: bun install

      - name: Publish
        run: pantry npm:publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create GitHub Release
        uses: stacksjs/action-releaser@v1.2.9
        with:
          files: |
            bin/bunpress-linux-x64
            bin/bunpress-linux-arm64
            bin/bunpress-windows-x64.exe
            bin/bunpress-darwin-x64
            bin/bunpress-darwin-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
